@{
    ViewData["Title"] = "Results Page";
}
@model Registration

<div class="text-center">
    <p class="display-1">Successfully Registered!</p>
    <br>
    <a href="/"><button class="border border-dark btn-success">Back</button></a>
</div>




